html {
  scroll-behavior: smooth;
}

/* Remove link styling by default */
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background: #808080;
  border-radius: 2px;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}
tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover{
  background-color: #ddd;
}

th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3388ff;
  color: white;
}

.leaflet-sidebar-tabs h3 {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}